.button {
  width: 100%;
  display: block;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  color: rgb(68, 68, 68);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  border: 2px solid rgb(68, 68, 68);
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: #444444;
    color: white;
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
}
