.button {
  width: 100%;
  display: block;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  color: rgb(68, 68, 68);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  border: 2px solid rgb(68, 68, 68);
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: #444444;
    color: white;
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
}



//.button-buy {
//  display: block;
//  background-color: #ffffff;
//  border: none;
//}
//
//.button-menu {
//  display: block;
//  width: 20px;
//  height: 14px;
//  background-color: #ffffff;
//  background-image: url("../img/icon-menu-open.svg");
//  background-repeat: no-repeat;
//  background-position: 0 0;
//  border: none;
//}

//@media (min-width: @tablet-width) {
//  .button-menu {
//    display: none;
//  }
//}
//
//@media (min-width: @desktop-width) {
//  .button-menu {
//    display: none;
//  }
//}
//
//.button-order {
//  display: block;
//  cursor: pointer;
//}
//
//.button-order--action {
//  padding: 15px;
//  font-family: "Open Sans", "Arial", sans-serif;
//  font-size: 17px;
//  font-weight: 700;
//  line-height: 20px;
//  color: #444444;
//  background-color: #ffffff;
//  border: 2px solid #444444;
//  text-align: center;
//  text-transform: uppercase;
//  cursor: pointer;
//}
//
//.btn--action:hover,
//.btn--action:focus {
//  background-color: #444444;
//  color: #ffffff;
//}
//
//.btn--action:active {
//  color: rgba(255, 255, 255, 0.3);
//}
