/*//////////////////////модальное окно*/
.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(4248px - 316px);
  top: 316px;
  left: 0;
  background: rgba(255,255,255,0.9);
  /*  display: none;*/
  z-index: 1;
}

.modal__wrap {
  position: absolute;
  top: 1045px;
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
  padding: 31px 30px 45px;
  box-sizing: border-box;
  border-top: 1px solid #c6c6c6;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.modal__subtitle {
  display: block;
  font-size: 15px;
  line-height: 30px;
  color: #444;
  text-align: center;
  margin: 0;
  margin-bottom: 23px;
}

.modal__sizes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal__btn-size {
  flex-grow: 1;
  cursor: pointer;
  color: #444;
  border-color: rgba(68,68,68,0.1);
}

.modal__btn-size:not(:last-child) {
  margin-right: 5px;
}

.modal__btn-size:hover {
  border-color: rgba(68,68,68,0.3);
}

.modal__btn-size:active {
  border-color: #63d1bb;
}
.modal__button {
  background: #63d1bb;
  border: none;
  padding-top: 20px;
}
.modal__button:hover {
  background-color: #444;
  color: #fff;
}

.modal__button:active {
  color: rgba(255, 255, 255, .7)
}

.modal--visible {
  display: block;
}

@media (min-width: 768px) {
  .modal {
    height: 3710px;
    top: 0;
    left: 0;
  }

  .modal__wrap {
    top: 1532px;
    width: 566px;
    padding: 31px 105px 45px;
  }
  .modal__title {
    font-size: 30px;
    line-height: 57px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  .modal__title br {
    display: none;
  }

  .modal__subtitle {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 23px;
  }
}
@media (min-width: 1150px) {
  .modal {
    height: 3623px;
  }
  .modal__wrap {
    top: 1114px;
    padding: 31px 105px 45px;
  }
  .modal__title {
    font-size: 30px;
    line-height: 57px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
}
