.page-catalog__title {
  background-color: #f1f1f1;
}

.page-catalog__title-text {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 76px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.page-catalog__container {
  width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 58px;
}

@media (min-width: @tablet-width) {
  .page-catalog__title-text {
    position: relative;
    padding-top: 95px;
    padding-bottom: 88px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-catalog__title-text::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: center center;
    background-repeat: repeat-x;
    background-size: auto 34px;
  }

  .page-catalog__container {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 71px;
    padding-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .page-catalog__title-text {
    padding-top: 93px;
    padding-bottom: 110px;
    font-size: 53px;
    line-height: 57px;
  }

  .page-catalog__container {
    width: 1050px;
    margin: 0 auto;
    padding-top: 123px;
    padding-bottom: 105px;
  }
}
