.main__title {
  background-color: #f1f1f1;
}

.main__title-text {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 76px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.main__container {
  width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 58px;
}

@media (min-width: @tablet-width) {
  .main__title-text {
    position: relative;
    padding-top: 95px;
    padding-bottom: 88px;
    font-size: 43px;
    line-height: 50px;
  }

  .main__title-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23px;
    background-image: url("../img/bg-zigzag-fill.svg");
  }

  .main__container {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 71px;
    padding-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .main__title-text {
    padding-top: 93px;
    padding-bottom: 110px;
    font-size: 53px;
    line-height: 57px;
  }

  .main__container {
    width: 1050px;
    margin: 0 auto;
    padding-top: 123px;
    padding-bottom: 105px;
  }

  .main__descr {
    margin-left: 175px;
    margin-right: 175px;
  }
}


@media (min-width: @desktop-width) {
  .catalog {
    display: flex;
    margin-bottom: 57px;
  }
}

.product {
  margin-bottom: 30px;
  border: 1px solid #ececec;
}

.product__img {
  display: block;
  width: 260px;
  height: 195px;
  background-color: #e6e6e8;
  flex-shrink: 0;
}

.product__link {
  line-height: 24px;
  display: block;
  color: inherit;
}

.product__link:hover,
.product__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.product__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product__info {
  padding: 27px;
  transition: box-shadow 0.2s;
}

.product:hover .product__info,
.product:focus .product__info {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product:active .product__info {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product__title {
  margin: 0;
  margin-bottom: 4px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.product__descr {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.product__price-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  border-top: 1px solid #ececec;
}

.product__price {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.product__btn {
  width: 21px;
  height: 19px;
}

.product__btn path {
  fill: #cccccc;
}

.product__btn:hover path,
.product__btn:focus path {
  fill: #63d1bb;
}

.product__btn:active path {
  fill: rgba(99, 209, 187, 0.3);
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    margin-bottom: 52px;
  }

  .product__img {
    width: 334px;
    height: 334px;
  }

  .product__title {
    font-size: 20px;
    padding-right: 40px;
  }

  .product__descr {
    font-size: 15px;
  }

  .product__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .product__price-wrap {
    margin-top: auto;
    margin-left: 6px;
    margin-right: 5px;
  }

  .product__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 0;
  }

  .product:last-child {
    margin-right: 0;
  }

  .product__img {
    width: 315px;
    min-height: 462px;
  }

  .product__info {
    width: 265px;
    flex-grow: 1;
  }

  .product__price-wrap {
    padding-top: 20px;
    margin-left: 0;
  }

  .product__descr {
    padding-bottom: 17px;
  }

  .product__title {
    font-size: 20px;
    padding-right: 30px;
  }

}

.video-post {
  position: relative;
  padding-top: 95px;
  border: 1px solid #ececec;
  transition: box-shadow 0.2s;
}

.video-post:hover,
.video-post:active {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.video-post:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.video-post__img {
  position: relative;
  width: 260px;
  height: 150px;
  background-color: #eaeaec;
  flex-grow: 1;
}

.video-post__btn {
  position: absolute;
  top: 35px;
  left: 77px;
  width: 101px;
  height: 77px;
  border: none;
  background-color: transparent;
  transition: transform 0.2s;
}

.video-post__img:hover .video-post__btn,
.video-post__img:focus .video-post__btn {
  transform: scale(1.2);
}

.video-post__img:active .video-post__btn {
  transform: scale(0.8);
  opacity: 0.3;
}

.video-post__wrap {
  padding: 26px 33px 31px;
  box-sizing: border-box;
}

.video-post__title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 24px;
  padding-left: 90px;
  padding-bottom: 25px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-image: url("../img/i-video.svg");
  background-repeat: no-repeat;
  background-position: 33px 29px;
}

.video-post__link {
  color: inherit;
  display: block;
}

.video-post__descr {
  margin-top: 5px;
  margin-bottom: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .video-post {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .video-post__img {
    order: 1;
    width: 100%;
    min-height: 455px;
  }

  .video-post__btn {
    top: 188px;
    left: 283px;
  }

  .video-post__wrap {
    order: 2;
    padding: 37px 40px 43px;
  }

  .video-post__title {
    position: relative;
    margin-bottom: 32px;
    padding-left: 66px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    background-position: 0;
  }

  .video-post__descr {
    margin-bottom: 34px;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .video-post {
    flex-direction: row;
  }

  .video-post__img {
    width: 682px;
  }

  .video-post__wrap {
    width: 367px;
    padding: 36px 56px 60px 77px;
  }

  .video-post__title {
    padding-top: 60px;
    padding-left: 0;
    background-position: 2px 6px;
  }

  .video-post__descr {
    margin-bottom: 47px;
  }
}

.order__descr {
  width: 260px;
  margin: 0 auto;
  padding: 22px 0 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.order__item {
  padding: 0;
  margin-bottom: 33px;
  border: none;
}

.order__item-wrap {
  width: 260px;
  margin: 0 auto;
}

.order__title {
  position: relative;
  margin-bottom: 23px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.order__title::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 62px;
  display: block;
  width: 190px;
  height: 2px;
  background-color: #63d1bb;
}

.order__title--phone,
.order__title--email {
  margin-bottom: 6px;
}

.order__phone,
.order__email {
  position: relative;
}

.order__phone {
  margin-bottom: 33px;
}

.order__option {
  margin-bottom: 5px;
}

.order__label {
  position: relative;
  display: block;
  cursor: pointer;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.order__option .order__label {
  padding-left: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.order__option:last-child {
  margin-bottom: 0;
}

.order__option--checkbox {
  margin-bottom: 23px;
}

.order__input--radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.order__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.order__input--radio:hover + label::before,
.order__input--radio:focus + label::before {
  border-color: #62d1ba;
}

.order__input--radio:active + label::before {
  border-color: rgba(0, 0, 0, 0.3);
}

.order__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
}

.order__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  display: block;
  width: 34px;
  height: 24px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
}

.order__input--checkbox:hover + label::before,
.order__input--checkbox:focus + label::before {
  border-color: #62d1ba;
}

.order__input--checkbox:active + label::before {
  border-color: rgba(0, 0, 0, 0.3);
}

.order__contacts {
  margin-bottom: 23px;
}

.order__title--contacts {
  margin-bottom: 28px;
}

.order__contacts:last-child {
  margin-bottom: 0;
}

.order__label--icon-phone,
.order__label--icon-email {
  position: absolute;
}

.order__label--icon-phone path,
.order__label--icon-email path {
  fill: rgba(0, 0, 0, 0.2);
}

.order__label--icon-phone {
  top: 12px;
  right: 7px;
  width: 25px;
  height: 24px;
}

.order__label--icon-email {
  top: 11px;
  right: 7px;
  width: 32px;
  height: 32px;
}

.order__input--text {
  width: 100%;
  padding: 15px 0;
  padding-right: 46px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
}

.order__input--text:hover,
.order__input--text:focus {
  border-color: #62d1ba;
  outline: none;
}

.order__input--text:hover ~ .order__label--icon-phone path,
.order__input--text:focus ~ .order__label--icon-phone path,
.order__input--text:hover ~ .order__label--icon-email path,
.order__input--text:focus ~ .order__label--icon-email path {
  fill: #62d1ba;
}

.order__item--message {
  margin-bottom: 0;
}

.order__textarea {
  width: 100%;
  min-height: 141px;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  border: 2px solid #000000;
  resize: vertical;
}

.order__textarea:hover,
.order__textarea:focus {
  border-color: #62d1ba;
  outline: none;
}

.order__textarea:active {
  border-color: #62d1ba;
}

.order__footer {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.order__note {
  margin: 15px 0 29px;
  font-size: 14px;
  line-height: 16px;
}

.order__btn {
  padding-left: 45px;
  padding-right: 45px;
}

@media (min-width: @tablet-width) {
  .order__item {
    margin-bottom: 0;
  }

  .order__descr {
    width: 668px;
    padding-top: 82px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__item--type {
    padding-top: 32px;
    padding-bottom: 50px;
  }

  .order__item--color,
  .order__item--communications {
    background-color: #f1f1f1;
  }

  .order__item--color {
    padding-top: 48px;
    padding-bottom: 27px;
  }

  .order__item--communications {
    padding-top: 48px;
    padding-bottom: 50px;
  }

  .order__item--message {
    padding-top: 49px;
  }

  .order__title {
    width: 25%;
    padding-top: 18px;
  }

  .order__title::after {
    display: none;
  }

  .order__item-wrap {
    width: 668px;
    display: flex;
  }

  .order__label {
    font-size: 19px;
    line-height: 19px;
  }

  .order__input--radio + label::before,
  .order__input--checkbox + label::before {
    width: 53px;
    height: 53px;
  }

  .order__input--radio:checked + label::after {
    top: 16px;
    left: 15px;
    width: 22px;
    height: 22px;
  }

  .order__input--checkbox:checked + label::after {
    top: 16px;
    left: 11px;
  }

  .order__option-wrap {
    width: 75%;
  }

  .order__option-wrap--checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .order__item--contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__option-wrap--contacts {
    display: flex;
    flex-direction: column;
  }

  .order__option {
    margin-bottom: 23px;
  }

  .order__option .order__label {
    padding-left: 81px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .order__option:last-child .order__label {
    margin-bottom: 0;
  }

  .order__option--checkbox {
    width: 52%;
  }

  .order__option--checkbox:nth-child(even) {
    width: 48%;
  }

  .order__contacts {
    display: flex;
    align-items: center;
  }

  .order__contacts .order__label {
    margin-right: 25px;
  }

  .order__phone {
    margin-bottom: 24px;
  }

  .order__phone,
  .order__email {
    width: 75%;
  }

  .order__input--text {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 19px;
    line-height: 19px;
    background-color: transparent;
  }

  .order__item--bottom {
    display: flex;
    justify-content: space-between;
  }

  .order__textarea {
    width: 75%;
  }

  .order__footer {
    width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 50px;
  }

  .order__btn {
    order: 1;
    margin: 0;
    margin-top: 3px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 28px;
    padding-right: 32px;
  }

  .order__note {
    order: 2;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .order__title {
    padding-left: 64px;
    width: 16.6%;
  }

  .order__descr {
    width: 700px;
    padding-top: 123px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__item-wrap {
    width: 1050px;
  }

  .order__option-wrap {
    width: 66.6%;
  }

  .order__phone,
  .order__email,
  .order__textarea {
    width: 66.6%;
  }

  .order__item--color .order__option-wrap {
    width: 75%;
  }

  .order__option--checkbox {
    width: 261px;
  }

  .order__option--checkbox:nth-child(even) {
    width: 261px;
  }

  .order__footer {
    width: 700px;
    padding-top: 48px;
    margin-bottom: 0;
  }
}
