
//
.social-contacts {
  display: flex;
}

.social-contacts__button {
  display: block;
  margin: 0;
  padding: 0;
}

.social-contacts__button--insta {
  margin-right: 40px;
}

.social-contacts__button--fb {
  margin-right: 36px;
}
