/* Файл variables.less */

@bg-darkgrey: #292929;
@bg-lightgrey: #f8f5f2;
@shadow-grey: #ececec;
@btn-green: #56c3b2;
// hover, active 46c1ae + footer logo hover, active (o:0.3)
@btn-lightgreen: #63d1bb;
// hover, active 59d5bc
@checked: #62d1ba;

@tablet-width: 768px;
@desktop-width: 1150px;

/* Файл scaffolding.less */


body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Файл mixins.less */


.hide() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-reset() {
  text-decoration: none;
  color: inherit;
}
///

.show {
  display: none;
}
