.list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}
.lists() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.input-field() {
  margin: 0;
  padding: 16px 29px 16px 0;
  width: 260px;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
}

.catalog-link() {
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
}

.input-special-field() {
  margin-left: 0;
  width: 501px;
  background-color: #f1f1f1;
}
.divider() {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: url("../img/zigzag-line-desktop.png") repeat-x 0 0;
  bottom: 0;
  left: 0;
}
